# junk files
*~
.DS_Store
.svn
.cvs
*.bak
*.swp
Thumbs.db
*.map
.vscode
.sass-cache
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
.svn
.cvs
*.bak


# non-version control needed things
node_modules
main.css

# local specific
/.wpe-devkit
/.wpengine-conf
.wpe-pull-ignore
.wpe-push-ignore
/wp-content/mu-plugins


# compiled source 
*.com
*.class
*.dll
*.exe
*.o
*.so

# packages 
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# logs 
*.log
*.sql
*.sqlite
*.cfg

# wordpress specific
wp-config.php
wp-content/uploads/
wp-content/blogs.dir/
wp-content/upgrade/*
wp-content/backup-db/*
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
wp-content/cache/*
wp-content/cache/supercache/*
/wp-content/plugins/*
/wp-content/upgrade
/wp-content/themes/*

# wpengine specific
.smushit-status
.gitattributes
_wpeprivate*
wp-content/object-cache.php
wp-content/mu-plugins/mu-plugin.php
wp-content/mu-plugins/slt-force-strong-passwords.php
wp-content/mu-plugins/stop-long-comments.php
wp-content/mu-plugins/force-strong-passwords*
wp-content/mu-plugins/wpengine-common*
wp-content/mysql.sql

# wp core (as of 4.9.5)
/db-config.php
/index.php
/license.txt
/readme.html
/wp-activate.php
/wp-app.php
/wp-atom.php
/wp-blog-header.php
/wp-comments-post.php
/wp-commentsrss2.php
/wp-config-sample.php
/wp-cron.php
/wp-feed.php
/wp-links-opml.php
/wp-load.php
/wp-login.php
/wp-mail.php
/wp-rdf.php
/wp-rss.php
/wp-rss2.php
/wp-pass.php
/wp-register.php
/wp-settings.php
/wp-signup.php
/wp-trackback.php
/xmlrpc.php
/wp-admin
/wp-includes
/wp-content/index.php
/wp-content/themes/twentyten
/wp-content/themes/twentyeleven
/wp-content/themes/twentytwelve
/wp-content/themes/twentythirteen
/wp-content/themes/twentyfourteen
/wp-content/themes/twentyfifteen
/wp-content/themes/twentysixteen
/wp-content/themes/twentyseventeen
/wp-content/themes/index.php
/wp-content/plugins/index.php
/wp-content/plugins/akismet*

# large/disallowed file types
# a CDN should be used for these
*.hqx
*.bin
*.exe
*.dll
*.deb
*.dmg
*.iso
*.img
*.msi
*.msp
*.msm
*.mid
*.midi
*.kar
*.mp3
*.ogg
*.m4a
*.ra
*.3gpp
*.3gp
*.mp4
*.mpeg
*.mpg
*.mov
*.webm
*.flv
*.m4v
*.mng
*.asx
*.asf
*.wmv
*.avi

# MHA specific overrides
!/wp-content/plugins/mha_shard
/wp-content/plugins/mha_shard/keys.php
/wp-content/plugins/mha_shard/inc/tmp
!/wp-content/plugins/mha_activity
!/wp-content/plugins/mha_screens
!/wp-content/plugins/mha_exports
!/wp-content/plugins/mha_imports
!/wp-content/plugins/mha_cleanup
!/wp-content/plugins/mha_sso
/wp-content/plugins/mha_sso/keys.php
/wp-content/plugins/mha_sso/vendor
/wp-content/plugins/mha_imports/vendor
!/wp-content/plugins/gravityforms
!/wp-content/themes/mha_s2s
bak
codes