
/* Forms */

// Global
.gform_fields {
    margin: 0;
}

label {
    display: block;
    font-weight: 700;
}

.gfield_required {
    display: none;
}


// Animated Labels
.float-label {
    position: relative;
    label:not(.error) {
        position: absolute;
        z-index: 1;
        left: 0;
        top: 0px;
        @include transitions(top 150ms ease, font-size 150ms ease);
    }
    &.filled label:not(.error) {
        top: -15px;
        font-size: 10px !important;
    }
    input {
        position: relative;
        z-index: 2;
    }
}  

.email_doublecheck {
    position: absolute !important;
    left: -999em;
    &.active {
        position: relative;
        left: auto;        
    }
}

.form-message-inner.warning {
    background: $orange;
    color: $black;
    font-weight: 700;
    padding: 10px 20px;
    @include radius(0 20px 20px 20px);
}


.form-container.line-form {

    &,
    .gform_wrapper {
        position: relative;
        
        p,
        li {
            clear: both;
            display: block;
            width: 50%;
            position: relative;
            #footer &,
            &.wide {
                width: 100%;
            }
        }

        .gform_fields li {
            margin: 0;
            padding: 0 0 20px 0;
            &:last-of-type {
                padding-bottom: 0;
            }
        }

        label {
            display: block;
            margin: 0;
            padding: 0;
            text-transform: uppercase;
            font-size: .9em;
            color: $white;
            @include montserrat(700);
        }
        span label {
            font-size: .8em;
            text-transform: none;
            @include montserrat(600);
        }

        textarea,
        input {
            border: 0;
            padding: 5px 0;
            background: none;
            color: $white;
            width: 100%;
            border-bottom: 4px solid $white;
        }
        
        .login-submit .button,
        .button.gform_button {
            background: $white;
            border: 0;
            padding: 10px 40px;
            color: $teal;
            font-size: 1em;
            width: auto;
            @include radius(50px);
            @include montserrat(700);
            &:hover {
                background: $coral;
                color: $white;
            }
            &.block {
                display: block;
                width: 100%;
            }
        }
        .button.gform_button {
            background: $white;
            color: $blueDark;
            &:hover {
                background: $coral;
                color: $white;
            }
        }

        // Password
        .ginput_container_password {
            width: 50%;
            float: left;
        }
        .gfield_password_strength  {
            position: relative;
            float: left;
            width: 180px;
            padding: 15px 15px 0 15px;
            margin-left: 20px;
            height: 90px;
            background: $white;
            color: $blue;
            font-weight: 700;
            font-size: .9em;
            line-height: normal;
            border: 1px solid $blue;
            @extend .bubble;
            @include radius(20px);


            &:after {
                content: "";
                display: block;
                position: absolute;
                z-index: 1;
                bottom: 20px;
                left: 15px;
                width: calc(100% - 30px);
                height: 4px;
                background: $silver;
            }
            &:before {
                content: "";
                display: block;
                position: absolute;
                z-index: 2;
                bottom: 20px;
                left: 10px;
                width: 0px;
                height: 4px;
                background: $red;
                @include transitions(background-color 100ms ease, width 100ms ease);
            }

            &.short {
                &:before {
                    background-color: $red;
                    width: 10%;
                }
            }
            &.bad {
                &:before {
                    background-color: $red;
                    width: 30%;
                }
            }
            &.mismatch {
                &:before {
                    background-color: $red;
                    width: calc(100% - 30px);
                }
            }
            &.good {
                &:before {
                    background-color: $orange;
                    width: 60%;
                }
            }
            &.strong {
                &:before {
                    background-color: $green;
                    width: calc(100% - 20px);
                }
            }
        }

        
        .gfield_checkbox,
        .gfield_radio {
            margin: 0;
            padding: 10px 0 0 0;
            display: block;

            li {
                clear: both;
                display: block;
                position: relative;
                margin: 0 5px 22px 5px;
                padding: 0;
            }

            label {
                display: block;
                padding: 0;
                text-align: left;
                font-size: .85em;
                line-height: 1.2em;
                text-transform: none;
                color: $gray;
                @include noto(400);
                @include radius(40px);

                &:before {
                    content: "";
                    display: block;
                    position: relative;
                    float: left;
                    width: 30px;
                    height: 30px;
                    top: -6px;
                    margin-right: 10px;
                    border: 2px solid $green;
                    background: none;
                    @include radius(50%);
                    @include transitions(border-color 100ms ease, background-color 100ms ease);
                }

            }    

            input[type="checkbox"],
            input[type="radio"] {
                position: absolute;
                left: -999em;
            }
            input[type="checkbox"]:checked+label,
            input[type="radio"]:checked+label {
                &:before {
                    background: $teal;
                    border: 2px solid $teal;
                }
            }

        }

        // Actions
        .gform_footer {
            padding-top: 20px;
            clear: both;
            text-align: center;
        }

    }

    .gform_confirmation_wrapper  {
        padding: 10px 20px;
        color: $green;
        background: $white;
        border: 1px solid $blueLight;
        @include radius(20px);
        text-align: center;
        @include montserrat(600);
    }

    // Color Alternatives
    &.blue  {
        
        p,
        .gform_wrapper {
            label {
                color: $blue;
            }
            .gfield_checkbox label {
                color: $gray;
            }
            textarea,
            input {
                color: $blue;
                border-bottom: 4px solid $blue;
            }
            label {
                &:before {
                    border-color: $blue;
                }
            }    
    
            input[type="checkbox"]:checked+label,
            input[type="radio"]:checked+label {
                &:before {
                    background: $blue;
                    border-color: $blue;
                }
            }
        }

        
        #utility-menu & .login-submit .button,
        .login-submit .button,
        .button.gform_button {
            background: $blue;
            color: $white;
            &:hover {
                background: $white;
                color: $blue;
            }
            &.white {
                background: $white;
                color: $blue;
                &:hover {
                    background: $blueDark;
                    color: $white;
                }
            }
        }

    }

    &.red  {
        
        p,
        .gform_wrapper {
            label {
                color: $red;
            }
            .gfield_checkbox label {
                color: $raz;
            }
            textarea,
            input {
                color: $raz;
                border-bottom: 4px solid $red;
            }
            label {
                &:before {
                    border-color: $red;
                }
            }    
    
            input[type="checkbox"]:checked+label,
            input[type="radio"]:checked+label {
                &:before {
                    background: $red;
                    border-color: $red;
                }
            }
        }

        
        .button.gform_button {
            background: $red;
            color: $white;
            &:hover {
                background: $blueDark;
                color: $white;
            }
            &.white {
                background: $white;
                color: $red;
                &:hover {
                    background: $red;
                    color: $white;
                }
            }
        }

    }

    // Special Overrides
    &.wide {   
        &,
        .gform_wrapper {
            p,
            li {
                width: 100%;
            }
        }
    }

    // General Errors
    
    label.error,
    .validation_error {
        clear: both;
        padding: 15px 30px;
        margin-bottom: 1.5em;
        @extend .bubble;
        @include radius(20px);
        background: $pink;
        border: 1px solid $red;
        color: $red !important;
        @include montserrat(700);
        text-transform: none;
        line-height: 1.2em;
    }
    label.error {
        margin-top: 5px;
        margin-bottom: 0;
    }

    // Validation
    .gfield_description.validation_message {
        clear: both;
        background: $pink;
        color: $red;
        padding: 5px 25px;
        margin: 10px 0 30px 0;
        font-size: .85em;
        font-weight: 700;
        border: 1px solid $red;
        text-transform: none;
        @include radius(20px);
    }

}

.single-screen .gform_page.demographics .gform_fields {
    li.optional {
        padding: 10px 0 0 50px
    }
}