/* General CSS */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    background: $grayLight;
    color: $gray;
    font-size: 62.5%;
    @include noto;
}


/* Links */

a { 
    color: $linkColor; 
    text-decoration: underline;
    &:hover {
        text-decoration: none;
    } 

    &.plain {
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        } 
    }
}

a.social {
    display: inline-block;
    span { position: absolute; left: -999em; }
}

button.button,
a.button,
.button a,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
    display: inline-block;
    padding: 15px 25px; 
    border: 0; 
    background: $blue;
    color: $white;
    font-size: .8em;
    text-decoration: none;
    text-transform: uppercase;
    @include montserrat(700);
    @include transitions(color 100ms ease, background-color 100ms ease);
    

    // States
    &.active {
        background: $blueDark;
    }

    // Color Options
    &.white {
        color: $white;
        &:hover {
            color: $white;
        }
        &.hover-bar {
            &:after { background: $white; }
            &:hover {
                &:after { background: $white; }
            }
        }
    }

    &.mint {
        color: $blueDark;
        background: $mint;
        &.active,
        &:hover {
            color: $white;
            background-color: $blueDark;
        }
    }

    &.green {
        color: $white;
        background: $teal;
        &.active,
        &:hover {
            color: $white;
            background-color: $blueDark;
        }
    }

    // Sizes
    &.thin {
        padding: 5px 25px; 
    }
    
    // Alternative Buttons
    &.hover-bar {
        position: relative;
        &:after {
            content: "";
            display: block;
            position: absolute;
            width: 0;
            height: 2px;
            bottom: -2px;
            background: $coral; 
            @include transitions(width 150ms ease);
        }
        &:hover {
            &:after {
                width: 100%;
            }
        }
    }


}

button.plain {
    padding: 0;
    border: 0;
    background: none;
    color: $blueDark;
    text-transform: none;
    font-weight: 600;

    &.caps {
        @extend .caps;
    }
}

button.icon {
    display: inline-block;
    padding: 0;
    background: none;
    color: $blueDark;
    font-size: 1em;
    text-transform: none;
    @include noto(700);
    .image {
        display: inline-block;
        width: 32px;
        text-align: center;
        margin-right: 5px;
    }
    svg {
        transform: scale(1);
        @include transitions(transform 100ms ease);
    }
    &:hover {
        svg { 
            transform: scale(1.2);
        }
    }
    &.liked:hover,
    &.flagged:hover {
        svg {
            transform: scale(1);
        }
    }
}

button.bar {
    display: inline-block;
    padding: 0;
    background: none;
    color: $blueDark;
    text-transform: none;
    position: relative;
    @include noto(700);
    font-size: 1em;
    &:after {
        content: "";
        display: block;
        width: 35%;
        height: 7px;
        margin-top: 5px;
        background: $coral; 
        @include transitions(width 150ms ease);
    }
    &:hover {
        &:after {
            width: 100%;
        }
    }
}

/* Stylish Flourishes */
.round { @include radius(50px); }
.round-tl { @include radius(0px 50px 50px 50px); }
.round-tr { @include radius(50px 0px 50px 50px); }
.round-br { @include radius(50px 50px 0px 50px); }
.round-bl { @include radius(50px 50px 50px 0px); }

.round-small { @include radius(30px); }
.round-small-tl { @include radius(0px 30px 30px 30px); }
.round-small-tr { @include radius(30px 0px 30px 30px); }
.round-small-br { @include radius(30px 30px 0px 30px); }
.round-small-bl { @include radius(30px 30px 30px 0px); }


/* Bubbles */
.bubble {
    background: $teal;
    color: $white;  

    .inner {
        padding: 50px;
    }

    // Additional Styles
    &.bubble-border {
        border: 1px solid $blueDark;
    }

    // Size Options
    &.thin {
        .inner {
            padding: 30px;
        }
    }
    &.narrow {
        .inner {
            padding: 30px 50px;
        }
    }
    &.thick {
        .inner {
            padding: 30px 80px;
        }
    }

    // Color Variants
    &.light-blue {
        background: $blueLight;
        color: $blueDark;
        &.bubble-border {
            border-color: $blue;
        }
        &.bubble-border.dark {
            border-color: $blueDark;
        }
        &.bubble-border.light {
            border-color: $cerulean;
        }
    }

    &.blue {
        background: $blue;
        color: $white;
    }

    &.gray {
        background: $grayLight;
        color: $blue;
    }

    &.mint {
        background: $mint;
        color: $blueDark;
        h1,
        h2,
        h3 {
            color: $blueDark;
        }
    }

    // Widths
    &.width-50 {
        width: 50%;
    }
    
}

/* Flourishes */

.bottom-border {
    &:after {
        content: "";
        display: block;
        width: 35%;
        height: 4px;
        margin-top: 12px;
        background: $orange; 
    }
}


/* Text */

h1 {
    margin: 0 0 .5em 0;
    padding: 0;
	font-size: 3.4em;
    line-height: 1.15em;
    color: $blue;
    @include montserrat(700);
}

h2 {
    margin: 0 0 .15em 0;
    padding: 0;
	font-size: 3.4em;
    line-height: 1.15em;
    color: $blue;
    @include montserrat(700);
    
    // Styles
    &.small,
    .section-title &,
    &.section-title {
        margin: 0 0 .25em 0;
        font-size: 2em;
        line-height: 1.15em;
        color: $gray;
        font-weight: 600;
    }

    &.bold { font-weight: 700; }

    // Colors
    &.white { color: $white; }
    &.cerulean { color: $cerulean; }
    &.blue { color: $blue; }
    &.dark-blue { color: $blueDark; }
}

h3 {
    margin: 0 0 .25em 0;
    padding: 0;
	font-size: 2.075em;
    line-height: 1.15em;
    @include montserrat(700);

    &.blue {
        color: $blueDark;
    }
}

h4 {
    padding: 0;
    margin: 0 0 .5em 0;
	font-size: 1.6em;
    line-height: 1.15em;
    color: $blueDark;
    @include montserrat(700);
}

p { 
    margin: 0 0 1.5em 0; 
    padding: 0; 
}

.small { 
    font-size: .85em; 
    line-height: 1.6em; 
}

.large { 
    font-size: 1.2em; 
    line-height: 1.6em; 
}

.caps {
    text-transform: uppercase;
}

em { font-style: italic; }

.bold,
strong { font-weight: 700; }

.thin { font-weight: 400; }

hr { 
    margin: 0 0 1.5em 0; 
    border: 0; 
    border-top: 0;
    border-bottom: 1px solid $grayLight;
}

sub,
sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
}
sup { top: -0.5em; }
sub { bottom: -0.25em; }

blockquote { 
    margin: 0 0 2em 2em; 
    padding: 1em 2em; 
    border: 0;
    font-style: italic;
    color: $gray; 
    border-left: 1px solid $gray; 
    cite { 
        display: block; 
        font-size: 1.2em; 
        color: $black; 
    }
}


/* Tables */

table { 
    border-collapse: collapse; 
    border-spacing: 0; 
    width: 100%; 
    border: 0;
    margin: 0 0 1.5em 0;
}
tbody { border: 0; padding: 0; }
table th { 
    padding: 20px; 
    background: none;
    border-bottom: 1px solid $gray;
}
table td { 
    padding: 20px; 
    vertical-align: top; 
    border: 0;
}

tr.even,
.even { background: none; border: 0; padding: 0; }
tr.odd,
.odd { background: $gray; border: 0; padding: 0; }


/* Lists */

ol, 
ul { 
    margin: 0 0 1.5em 2em; 
    padding: 0; 
    li { 
        margin: 0 0 .5em 0; 
        padding: 0;
    }
}


/* Objects/Elements */

object, embed { border: 0; outline: 0; }

iframe { max-width: 100%; }

img { 
    border: 0; 
    width: auto;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    -ms-interpolation-mode: bicubic;
}


/* Basic Styling Classes */

.center { text-align: center; }
.l, .left { float: left; }
.r, .right { float: right; }
.clear { clear: both; }
.clear-l, .clear-l { clear: left; }
.clear-r, .clear-r { clear: right; }

.serif { font-family: Georgia, serif; }
.no-serif, .san-serif { font-family: Arial, Helvetica, sans-serif; }

.relative { position: relative; }

img.l, 
img.left { 
    float: left;
    margin: 0 10px 10px 0;    
}
img.r, 
img.right {
    float: right;
    margin: 0 0 10px 10px; 
}

.block { display: block; }
.inline { display: block; }


/* Video */

.responsive-video {
    position: relative;
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    margin-bottom: 1.5em;
    &.ratio-4-3 {
        padding-bottom: 75%;
    }
    iframe {
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

/* Clearfix */

.clear {
  clear: both;
}

.clearfix {
  display: inline-block;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

* html .clearfix {
  height: 1%;
}

.clearfix {
  display: block;
}

/* Admin Stuff */
.post-edit-link {
    opacity: 0;
    position: absolute;
    bottom: 0;
    z-index: 5;
    display: block;
    width: 70px;
    text-align: center;
    margin: 0;
    font-size: 12px;
    background: $red;
    color: $white;
    font-weight: 700;
    padding: 0 10px;
    text-decoration: none;
    @include transitions(all 150ms ease);
    &:hover {
        background: $white;
        color: $coral;
    }

    #thoughts-submitted li:hover & {
        opacity: 1;
    }
}