/* Generic Colors */
$white              : #FFFFFF;
$black              : #000000; 
$gray               : #464646;
$grayMedium         : #818181;
$silver             : #d0d9e3;
$grayLight          : #E9EEF5;
$grayLight2         : #F1F4F5;


/* Brand Colors */
$orange             : #F89941;
$orangeDark         : #ee7b10;
$orangeBurnt        : #bb5000;
$burntOrange        : $orangeBurnt;
$paleOrange         : #fff4e8;
$orangePale         : #fff4e8;

$blue               : #055596;
$blueLight          : #ECF3FA;
$lightBlue          : $blueLight;
$blueDark           : #144B5E;
$darkBlue           : $blueDark;
$bluePale           : #F8FCFF;
$paleBlue           : $bluePale;
$brightBlue         : #438FEF;

$cerulean           : #007BA7;
$ceruleanLight      : #CBE8FF;
$lightCerulean      : $ceruleanLight;
$ceruleanPale       : #E5F2FC;
$paleCerulean       : $ceruleanPale;

$purple             : #7B2E67;
$purpleLight        : #F5D9F0;
$lightPurple        : $purpleLight;

$teal               : #1fb4bb;
//$teal               : #139aa0;
$green              : $teal;
$tealLight          : $teal;
$lightTeal          : $teal;
$greenLight         : $teal;
$lightGreen         : $teal;
$tealDark           : #154b5e;
$darkTeal           : $tealDark;
$mint               : #E3F8F8;
$mediumTeal         : #237591;

$red                : #ED5D66; // Too low contrast?
//$red                : #d32d3b;
$redLight           : #fef6f6;
$lightRed           : $redLight;
$darkRed            : #d32d3b;
$pink               : $redLight;
$coral              : #FA6767; // Too low contrast?
//$coral              : #fa5a5a;
$raspberry          : #C1335D;
$razzberry          : $raspberry;
$rasberry           : $raspberry;
$razz               : $raspberry;
$raz                : $raspberry;

/* Color Classes */
.text-black { color: $gray; }
.text-gray { color: $gray; }
.text-red { color: $red; }
.text-blue { color: $blue; }
.text-bright-blue { color: $brightBlue; }
.text-teal,
.text-green { color: $teal; }
.text-blue-dark, 
.text-dark-blue { color: $darkBlue; }
.text-dark-teal { color: $darkTeal; }
.text-cerulean { color: $cerulean; }
.text-silver { color: $silver; }
.text-orange { color: $orange; }


/* Default Text */
$linkColor          : #0b75cb;
$textColor          : $gray;
$headColor          : $black;

/* Social Media */
$facebook           : hsla(222, 47%, 40%, 1);     // #365397
$twitter            : hsla(198, 100%, 47%, 1);    // #00a9f1
$linkedin           : hsla(203, 100%, 35%, 1);    // #006db3
$apple              : hsla(0, 0%, 45%, 1);        // #737373
$google             : hsla(217, 89%, 61%, 1);     // #4285f4
$youtube            : hsla(0, 100%, 60%, 1);      // #ff3333
$vimeo              : hsla(200, 82%, 61%, 1);     // #48b6ed
$pinterest          : hsla(0, 78%, 45%, 1);       // #ce1a19
$instagram          : hsla(208, 46%, 41%, 1);     // #396d9a

