/* Generic Colors */
$white              : #FFFFFF;
$black              : #000000; 
$gray               : #464646;
$silver             : #D2D9E2;
$grayLight          : #EDEDED;
$grayLight2         : #F1F4F5;


/* Brand Colors */
$orange             : #F89941;

$blue               : #055596;
$blueLight          : #ECF3FA;
$lightBlue          : $blueLight;
$blueDark           : #144B5E;
$darkBlue           : $blueDark;

$cerulean           : #007BA7;
$ceruleanLight      : #CBE8FF;
$lightCerulean      : $ceruleanLight;
$ceruleanPale       : #F8FCFF;
$paleCerulean       : $ceruleanPale;

$purple             : #7B2E67;
$purpleLight        : #F5D9F0;
$lightPurple        : $purpleLight;

$teal               : #1CA4AB;
$green              : $teal;
$tealLight          : #1CA4AB;
$lightTeal          : $tealLight;
$greenLight         : $tealLight;
$lightGreen         : $tealLight;
$tealDark           : #154b5e;
$darkTeal           : $tealDark;
$mint               : #DDF9F3;

$red                : #FC545A;
$redLight           : #FAECEC;
$lightRed           : $redLight;
$pink               : $redLight;
$coral              : #FA6767;
$raspberry          : #C1335D;
$razzberry          : $raspberry;
$razz               : $raspberry;
$raz                : $raspberry;

/* Color Classes */
.text-gray { color: $gray; }
.text-red { color: $red; }
.text-blue { color: $blue; }
.text-teal,
.text-green { color: $teal; }

/* Default Text */
$linkColor          : $blue;
$textColor          : $gray;
$headColor          : $black;

/* Social Media */
$facebook           : hsla(222, 47%, 40%, 1);     // #365397
$twitter            : hsla(198, 100%, 47%, 1);    // #00a9f1
$linkedin           : hsla(203, 100%, 35%, 1);    // #006db3
$apple              : hsla(0, 0%, 45%, 1);        // #737373
$google             : hsla(217, 89%, 61%, 1);     // #4285f4
$youtube            : hsla(0, 100%, 60%, 1);      // #ff3333
$vimeo              : hsla(200, 82%, 61%, 1);     // #48b6ed
$pinterest          : hsla(0, 78%, 45%, 1);       // #ce1a19
$instagram          : hsla(208, 46%, 41%, 1);     // #396d9a

