/** General Layout Hiding/Showing **/

$letters: a b c d e f g h i j k l m n o p q r s t u v w x y z;

.layout-action { display: none; }

@each $letter in $letters {
    body.layout-actions_#{$letter} {  

        .hide-actions_#{$letter} { 
            display: none; 
        }

        .show-actions_#{$letter} { 
            display: inherit; 
            &.layout-action { display: inherit; }
        }
        
    }    
}


/** Article Specific Layouts **/

// First Media embed
body.layout-actions_ah_media {
    .article--introductory_content iframe:first-of-type { display: none !important; }
}

// Related Topics
body.layout-actions_ah_topics {
    #article--related-topics_desktop,
    #article--related-topics_mobile { display: none !important; }
}

// Related Articles
body.layout-actions_ah_articles {
    #article--related-articles_desktop,
    #article--related-articles_mobile { display: none !important; }
}

// Related Tests
body.layout-actions_ah_test {
    #article--test_desktop,
    #article--test_mobile { display: none !important; }
}

// Actions (e.g. Save)
body.layout-actions_ah_actions {
    #article--actions_desktop,
    #article--actions_mobile,
    #article--actions__desktop,
    #article--actions__mobile { display: none !important; }
}

// Reading Path
body.layout-actions_ah_path {
    #article--reading-path { display: none !important; }
}

// Hide entire sidebar
body.layout-actions_ah_sidebar {
    .article-right,
    #article--actions_desktop,
    #article--actions_mobile,
    #article--actions__desktop,
    #article--actions__mobile { display: none !important; }
}


/** Low Contrast Bubbles **/

body.layout-light {

    // Article Columns
    .article-right {

        .bubble {       

            // Raspberry
            &.raspberry {
                background: rgba(251,221,230,.55);
                color: $raspberry;
                h1,
                h2,
                h3,
                h4 {
                    color: $raspberry;
                }
                a {
                    color: $raspberry;
                    &:visited {
                        color: $raspberry;
                    }
                }
            }

            // Coral
            &.coral {
                background: $redLight;
                color: $coral;
                font-weight: 700;
                h1,
                h2,
                h3,
                h4 {
                    color: $coral;
                }
                &.bubble-border {
                    border-color: transparent;
                }
                a {
                    color: $coral;
                    &:visited {
                        color: $coral;
                    }
                }
            }

            // Dark Blue
            &.dark-blue {
                background: $ceruleanPale;
                color: $cerulean;
                font-weight: 700;
                h1,
                h2,
                h3,
                h4 {
                    color: $cerulean;
                }
                &.bubble-border {
                    border-color: transparent;
                }
                a {
                    color: $cerulean;
                    &:visited {
                        color: $cerulean;
                    }
                }
            }

            // Dark Blue
            &.orange {
                background: $paleOrange;
                color: $burntOrange;
                font-weight: 700;
                h1,
                h2,
                h3,
                h4 {
                    color: $burntOrange;
                }
                &.bubble-border {
                    border-color: $burntOrange;
                }
                a {
                    color: $burntOrange;
                    &:visited {
                        color: $burntOrange;
                    }
                }
                .button.white {
                    color: $white;
                    background: $burntOrange;
                    &:hover {
                        background: $blueDark;
                    }
                }
            }

        }

    }

}


/** Progress Sidebar **/

.layout-side_progress {
    
    @media only screen and (min-width: 1025px){
        article.screen .gform-body {
            margin-right: 220px;
        }

        article.screen {
            form {
                position: relative;
            }
        }

        .progress-container {
            float: right;
        }
        ol.screen-progress-bar {
            width: 200px;
            max-width: 200px;
            padding: 15px 0;
            margin: 0;
            background: $white;
            &:before {  
                top: 15px;
                width: 4px;
                height: calc(100% - 75px);
            }
            li {
                float: none;
                width: auto;
                padding-top: 30px;
                margin-bottom: 45px;
                background: $white;
                border-top: 5px solid $white;
                border-bottom: 5px solid $white;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

}