/* Accessibility Specific Styles */

        
/* Highlight Colors */

::-moz-selection { background: rgba(58,88,136,.9); color: #FFFFFF; text-shadow: none; }
::selection { background: rgba(58,88,136,.9); color: #FFFFFF; text-shadow: none; }


/* Skip Link Helper */

a.skip-link {    
    &, &:visited, &:link, &:hover { 
        position: absolute;
        left: -999em;
        top: auto;
        width: 1px;
        height: 1px;
        overflow: hidden;
    }    
    &:active, &:focus {
        position: static;
        width: auto;
        height: auto;
    }
}

.hide-text {
    position: absolute;
    left: -999em;
}

/* Text meant only for screen readers. */
.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal !important;
  }