/* Accessibility Specific Styles */

        
/* Highlight Colors */

::-moz-selection { background: rgba(58,88,136,.9); color: #FFFFFF; text-shadow: none; }
::selection { background: rgba(58,88,136,.9); color: #FFFFFF; text-shadow: none; }

button:focus { 
    border: 0;
    outline: none;
    box-shadow: none;
}

*,*:focus,*:hover{
    outline:none;
}

/* Skip Link Helper */

a.skip-link {    
    &, &:visited, &:link, &:hover { 
        position: absolute;
        left: -999em;
        top: auto;
        width: 1px;
        height: 1px;
        overflow: hidden;
    }    
    &:active, &:focus {
        position: static;
        width: auto;
        height: auto;
    }
}

.hide-text {
    position: absolute;
    left: -999em;
}

input[type="number"]{
    -webkit-appearance: none;
    -moz-appearance: textfield;
}

/* Text meant only for screen readers. */
.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal !important;
}

.wrap.narrow p a:not(.button),
.bubble.thick a:not(.button),
.page-intro a:not(.button),
.page-content a:not(.button) {

    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;

    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;

    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  
}

.blue {
    ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
        color:    #FFF;
    }
    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color:    #FFF;
    }
    ::-moz-placeholder { /* Mozilla Firefox 19+ */
        color:    #FFF;
    }
    :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color:    #FFF;
    }
    ::-ms-input-placeholder { /* Microsoft Edge */
        color:    #FFF;
    }

    ::placeholder { /* Most modern browsers support this now. */
        color:    #FFF;
    }
}

.line-form.blue,
.light-blue {
    ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
        color:    $blueDark;
    }
    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color:    $blueDark;
    }
    ::-moz-placeholder { /* Mozilla Firefox 19+ */
        color:    $blueDark;
    }
    :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color:    $blueDark;
    }
    ::-ms-input-placeholder { /* Microsoft Edge */
        color:    $blueDark;
    }

    ::placeholder { /* Most modern browsers support this now. */
        color:    $blueDark;
    }
}

.line-form.red,
.red {
    ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
        color:    $rasberry;
    }
    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color:   $rasberry;
    }
    ::-moz-placeholder { /* Mozilla Firefox 19+ */
        color:   $rasberry;
    }
    :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color:   $rasberry;
    }
    ::-ms-input-placeholder { /* Microsoft Edge */
        color:   $rasberry;
    }

    ::placeholder { /* Most modern browsers support this now. */
        color:   $rasberry;
    }
}