
// Header
#sign-in-container {
    @media only screen and (max-width: 767px){
        display: none;
    }
}

#sign-in-toggle {
    min-width: 60px;
    text-align: center;
    position: relative;
    margin-right: -5px;
}

#sign-in-hover {
    width: 400px;
    position: absolute;
    right: 999em;
    top: 20px;
    z-index: 100;
    font-size: 1.1em;
    line-height: 1.4em;
    opacity: 0;
    @include transitions(opacity 200ms ease, top 200ms ease);

    .show-login-hover & {
        opacity: 1;
        top: 40px;
        right: 0;
    }

    .login-submit {
        float: left;
        margin: 0;
        width: auto;
        input {
            margin: 0;
            padding-left: 25px;
            padding-right: 25px;
        }
    }
    .existing-account {
        float: right;
        padding-top: 11px;
    }

    h3 {
        font-size: 1.5em;
    }
}


// Account Page
#account-settings {
    float: left;
    margin-top: 15px;
}

#account-settings-form {
    form {
        padding-top: 20px;
    }
}

#sign-up-form {
    .gform_footer {
        text-align: left;
    }
}

.existing-account {
    position: relative;
    z-index: 10;
}

.chart-container {
    canvas {
        height: 380px;
    }
}

#dashboard-test-results {
    position: relative;
    .heading {
        padding-right: 220px;
    }
    #test-selection-dropdown {
        position: absolute;
        right: 0;
        top: 75px;
        @media only screen and (max-width: 767px){
            top: 55px;
        }
    }
}


// Submit Content
.page-template-page-submit-article {

    // Content
    .description {
        font-size: .9em;
        line-height: 1.5em;
    }

    // Field Overrides
    td[data-name="address"],
    th[data-name="address"] {
        width: 100% !important;
    }

    // Hidden Fields
    td[data-name="latitude"],
    th[data-name="latitude"],
    td[data-name="longitude"],
    th[data-name="longitude"] {
        display: none !important
    }

    // Actions
    .acf-form-submit {
        padding-top: 50px;
        text-align: center;
        .button {
            @extend .round;
        }
    }

    #message {
        padding: 30px 50px;
        margin-bottom: 20px;
        background: $teal;
        color: $white;
        @extend .round-tl;

        @media only screen and (max-width: 767px){
            padding: 30px;
        }

        a,
        h2,
        h3,
        h4 { 
            color: $white; 
            font-weight: 700;
        }
    }

}


/* Hiding Thoughts and Screens */
#test-results-container,
.thought-activity {
    
    .button.hide-screen,
    .button.hide-thought {
        position: absolute;
        top: -20px;
        right: -20px;
        z-index: 5;
        padding: 0;
        width: 30px;
        height: 30px;
        text-align: center;
        line-height: 30px;
        @include montserrat();

        &.gray { 
            color: $gray; 
            &:focus,
            &:hover {
                color: $white;
            }
        }
        &.teal { 
            top: -10px;
            right: -15px;
        }
    }

    .hide-screen-confirm-container,
    .hide-thought-confirm-container {
        background: $grayLight;
        position: absolute;
        z-index: 50;
        top: -15px;
        left: 0;
        width: 100%;
        height: calc(100% + 15px);
    }
    .hide-screen-confirm-container {
        background: $teal;
        height: calc(100% + 10px);
        top: 0;
    }
    
}

