.type-article {

    aside {
        font-size: .95em;
        line-height: 1.5em;
    }

}

// Old drupal style buttons
#download-here,
.btn-download a {
    @extend .button;
}


#download-here {
    display: block;
    text-indent: -999em;
    position: relative;
    @extend .round;
    width: 240px;
    margin: 0 auto 1.5em auto;

    // Article Type Overrides
    .content-red & {
        background-color: $red;
        &:hover {
            background-color: $blueDark;
        }
    }

    &:after {
        display: block;
        position: absolute;
        z-index: 0;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        height: 20px;
        width: 100%;
        text-indent: 0;
        content: "Download Here";
    }
}

.btn-download {
    text-align: center;
    a {
        @extend .round;
        margin: 0 auto 1.5em auto;
    }

    // Article Type Overrides
    .content-red & {
        a {
            background-color: $red;
            &:hover {
                background-color: $blueDark;
            }
        }
    }

}


.content-red {
    a.button {
        background-color: $red;
        color: $white;
        &:hover {
            background: $raz;
            color: $white;
        }
    }
}