.mce-content-body,
.type-article {

    aside {
        font-size: .95em;
        line-height: 1.5em;

        .sidebar-featured-image {
            position: relative;
            margin-top: -80px;
        }
    }

    table > caption,
    figcaption { 
        text-align: center; 
        @include montserrat(100);
        font-style: italic; 
    }
    table > caption {
        text-align: inherit;
    }

    blockquote {
        @media only screen and (max-width: 767px){
            width: 90%; 
            padding: 35px; 
            ul, 
            ol { 
                margin-left: 3em; 
            }
        }
    }

}

// Old drupal style buttons
#download-here,
.btn-blue a,
.btn-download a {
    @extend .button;
    @extend .round;
    @include transitions(background-color 150ms ease, color 150ms ease);
}
.btn-blue,
.btn-download {
    margin-bottom: 1.5em;
}


#download-here {
    display: block;
    text-indent: -999em;
    position: relative;
    @extend .round;
    width: 240px;
    margin: 0 auto 1.5em auto;

    // Article Type Overrides
    .content-red & {
        background-color: $red;
        &:hover {
            background-color: $blueDark;
        }
    }

    &:after {
        display: block;
        position: absolute;
        z-index: 0;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        height: 20px;
        width: 100%;
        text-indent: 0;
        content: "Download Here";
    }
}

.btn-download {
    text-align: center;
    a {
        @extend .round;
        margin: 0 auto 1.5em auto;
    }

    // Article Type Overrides
    .content-red & {
        a {
            background-color: $red;
            &:hover {
                background-color: $blueDark;
            }
        }
    }

}


.content-red {

    a.button {
        background-color: $red;
        color: $white;
        &:hover {
            background: $raz;
            color: $white;
        }

        &.white {
            background-color: $white;
            &:hover {
                color: $white;
                background: $blueDark;
            }
        }

        &.text-orange {
            color: $orange;
            &:hover {
                color: $white;
                background: $blueDark;
            }
        }
    }
    
}