.diy-questions {
    .question {
        p {
            position: relative;
        }
        textarea {
            padding: 10px 0;
            border: 0;
            width: 100%;
            height: 68px;
            background: none;
            padding: 0;
            font-size: 16px;
            color: $blueDark;
            border-bottom: 4px solid $blueDark;
            @include radius(0);
        }
        .character-counter {
            width: 100%;
            display: block;
            position: absolute;
            font-size: 12px;
            line-height: normal;
        }
    }

    button {
        opacity: 1;
        @include transitions(all 150ms ease);
        &:disabled,
        &[disabled] {
            &:not(.disabled){
                opacity: .35;
                &.bar {
                    &:hover:after,
                    &:after {
                        width: 35%;
                    }
                }
            }
        }        
    }

    input[type=checkbox] {
        outline: 2px solid rgba(20, 75, 94, 0) !important;
        @include transitions(border 150ms ease);
        &:focus {
            outline: 2px solid rgba(20, 75, 94, .33) !important;
        }
    }


    input[type=checkbox]:focus,
    input[type=radio]:focus {
        outline: revert !important;
    }

    // Active/Inactive Look
    &.glide--slider { // Only when glide is active
        .glide__slide {
            .bubble.light-blue {
                background: #9CB6D0;
                color: #3E5884;
                @include transitions(background-color 150ms ease);
            }
            .inner {
                //opacity: 0;
                @include transitions(opacity 150ms ease);
            }
            &.glide__slide--active {
                .bubble.light-blue {
                    background: $blueLight;
                    color: $blueDark;
                }
                .inner {
                    //opacity: 1;
                }
            }
        }
    }

}

article.type-diy {
    @media only screen and (max-width: 767px){
        font-size: .85em;
        line-height: 1.5em;
        .page-intro {
            max-width: 100%;
        }
    }
}

.diy-questions-container {
    display: block;
    position: relative;
}

.peek,
button.peek {
    display: none;
    width: 130px;
    height: 100%;
    background: $red;
    position: absolute;
    top: 0;
    margin: 0;
    padding: 0;
    border: 0;
    z-index: 50;
    overflow: hidden;
    text-indent: -999em;
    .js & {
        display: block;
    }
    @media only screen and (max-width: 880px){
        width: 80px;
    }
    @media only screen and (max-width: 580px){
        width: 30px;
    }
    &.fade-left {
        left: 0;
        border: 0;
        background: rgb(255,255,255);
        background: -moz-linear-gradient(90deg, rgba(255,255,255,1) 10%, rgba(255,255,255,0) 100%);
        background: -webkit-linear-gradient(90deg, rgba(255,255,255,1) 10%, rgba(255,255,255,0) 100%);
        background: linear-gradient(90deg, rgba(255,255,255,1) 10%, rgba(255,255,255,0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1);
    }
    &.fade-right {
        right: 0;
        border: 0;
        background: rgb(255,255,255);
        background: -moz-linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 90%);
        background: -webkit-linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 90%);
        background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 90%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1);
    }

    &.fade-left,
    &.fade-right {
        &:after {
            width: 100%;
            height: 50px;
            position: absolute;
            left: 0;
            bottom: 0;
            z-index: 50;
            background: rgb(255,255,255);
            background: -moz-linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
            background: -webkit-linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
            background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1);
        }
    }

    &:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
        height: 30px;
        width: 30px;
        font-size: 60px;
        line-height: normal;
        color: $blue;
        text-indent: 0;
        opacity: 0;
        background: url("../images/arrow-left-blue.png") center center no-repeat;
        background-size: contain;
        @include transitions(150ms ease opacity);
    }
    &.fade-right {
        &:before {
            background-image: url("../images/arrow-right-blue.png");
        }
    }

    &:hover,
    &:focus {
        &:before {
            opacity: 1;
        }
    }
    &:disabled {
        &:before {
            opacity: 0;
        }
    }
}

.question-breadcrumb {
    display: flex;
    width: calc(100% + 100px);
    margin: 50px 0 0 -50px;
    padding: 0;
    position: relative;
    @media only screen and (max-width: 980px){
        width: 100%;
        margin-left: 0;
    }
    @media only screen and (max-width: 580px){
        //display: none;
    }
    &:before {
        content: "";
        display: block;
        width: 100%;
        height: 3px;
        background: $blue;
        position: absolute;
        left: 0;
        top: 10px;
    }

    li {
        margin: 0;
        padding: 0;
        list-style-type: none;
        flex-grow: 1;
        flex-basis: 0;
        text-align: center;
        position: relative;
        button {
            padding: 35px 10px 0 10px;
            margin: 0;
            font-size: .8em;
            line-height: 1.1em;
            color: $gray;
            font-weight: 400;
            text-transform: none;
            background: transparent;
            @include transitions(color 150ms ease, font-weight 150ms ease);
            .text {
                @media only screen and (max-width: 767px){
                    display: none;
                }
            }

            &:before {
                content: "";
                display: block;
                position: absolute;
                top: -4px;
                left: 0;
                right: 0;
                margin: 0 auto;
                width: 30px;
                height: 30px;
                overflow: hidden;
                text-indent: -999em;
                border: 4px solid $blue;
                background: $white;
                @include transitions(background-color 150ms ease);
                @include radius(50%);           
            }
            &:hover {
                &:before {
                    background-color: $mint;
                }            
            }
            &:focus {
                &:before {
                    background-color: $teal;
                }            
            }
        }


        &.active {
            button {
                color: $blue;
                font-weight: 600;
                &:before {
                    background-color: $teal;
                }
            }
        }

        // First/Last Arrows
        &.arrow {
            flex: 0 1 40px;
            &:before {
                display: none;
            }
            button {
                display: block;
                position: relative;
                margin-top: -10px;
                padding: 0;
                width: 40px;
                height: 40px;
                overflow: hidden;
                text-indent: -999em;
                border: 4px solid $blue;
                background: $white;
                @include radius(50%);
                background-position: center center;
                background-repeat: no-repeat;
                background-size: 14px auto;
                background-color: $white;
                &.question-prev {
                    background-image: url('../images/arrow-left-blue.png'); 
                    background-position: 8px center;
                }
                &.question-next {
                    background-image: url('../images/arrow-right-blue.png'); 
                    background-position: 10px center;
                }

                &.question-prev,
                &.question-next {
                    @include transitions(background-color 150ms ease);
                    &:hover,
                    &:focus {
                        background-color: $mint;     
                    }
                }

                &:before {
                    display: none;
                }
                &:after {
                    content: "";
                    display: block;
                    position: absolute;
                    left: -999em;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(255,255,255,0);
                    @include transitions(background-color 150ms ease);
                }
                &:disabled {
                    &:after {
                        left: 0;
                        background-color: rgba(255,255,255,.8);
                    }
                }
            }
        }
    }

}

.crowdthoughtsContent {
    position: relative;
    padding-bottom: 40px;
    min-height: 150px;

    &:before {
        content: "";
        width: 40px;
        height: 40px;
        position: absolute;
        z-index: 2;
        left: -999em;
        top: 20px;
        right: 0;
        margin: 0 auto;
        opacity: 1;
        background: url('../images/loading-white.gif') center center no-repeat;
        background-size: contain;
        @include transitions(opacity 250ms ease);
    }

    .question-container {
        opacity: 1;
        @include transitions(opacity 250ms ease);
        .wrap {
            max-width: 100%;
        }
        &.hidden {
            width: 0px;
        }
    }

    &.loading {
        &:before {
            left: 0;
            opacity: 1;
        }
        .question-container {
            opacity: .33;
        }
    }
}

.crowdthought {
    display: block;
    padding: 0;
    margin: 0 0 20px 0;
    li {
        list-style-type: none;
        padding: 0;
        margin: 0 0 20px 0;
    }
}

.crowdsource-responses {
    .glide__arrows {
        button {
            height: 100%;
            top: 50%;
            box-shadow: none;
        }
        &.glide__arrow--disabled {
            opacity: 1;
        }
    }

    // Connecting bar
    .thought-response-container {
        position: relative;
        z-index: 2;
        &:before {
            content: "";
            display: block;
            height: 5px;
            background: $blueLight;
            position: absolute;
            z-index: 1;
            top: 50%;
            right: -50px;
            width: 50px;
        }
    }

    // Hide on last slide
    .glide__slides {
        .glide__slide:last-child {
            .thought-response-container:before {
                display: none;
            }
        }
    }

}


// Embedded Overrides
.diy-tool-shortcode {
    width: calc(100% + 20px);
    margin: 0 0 50px -10px;

    /*
    .bubble {
        .inner {
            padding: 30px;
            @media only screen and (max-width: 679px){
                padding: 30px;
            }
        }
    }
    */
    .question-breadcrumb {
        width: 100%;
        margin-left: 0;
    }

    button.submit {
        @media only screen and (max-width: 679px){
            padding: 15px 25px;
        }
    }
}

.diy-opt-out-message {
    max-width: 400px;
}

.loading-next-diy {
    width: 100%;
    height: 40px;
    background: url('../images/loading-white.gif') center center no-repeat;
    background-size: contain;
}

.embed-type-single .glide--swipeable {
    cursor: auto; // Disable cursor on single embeds
}

.question-breadcrumb-container {
    @include transitions(background-color 150ms ease);
    
    &:before {
        content: '';
        display: block;
        width: 100%;
        height: 15px;
        opacity: 0;
        top: -15px;
        position: relative;
        background-color: rgba(255,255,255,1);
        background: -moz-linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
        background: -webkit-linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
        background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FFFFFF",endColorstr="#ffffff",GradientType=1);
        @include transitions(opacity 150ms ease);
    }
    
    &.sticky {
        position: fixed;
        z-index: 100;
        bottom: 0;
        width: 100%;
        left: 0;
        right: 0;
        margin: 0 auto;
        background-color: rgba(255,255,255,1);
        @media only screen and (max-width: 940px){
            bottom: 54px;
        }
        &:before {
            opacity: 1;
        }
        .question-breadcrumb{
            margin-top: 0;
        }
        &.not-fixed {
            bottom: -30px;
            position: absolute;
        }
        &.max-top {
            position: absolute;
            bottom: auto;
            top: 25px;
        }
    }

    .embed-type-full & {
        background-color: rgba(255,255,255,0);

        &:before { display: none; }

        .wrap-inner:before {
            content: '';
            display: block;
            width: calc(100% + 20px);
            margin-left: -10px;
            height: 15px;
            opacity: 0;
            top: -15px;
            position: relative;
            background-color: rgba(255,255,255,1);
            background: -moz-linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
            background: -webkit-linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
            background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FFFFFF",endColorstr="#ffffff",GradientType=1);
            @include transitions(opacity 150ms ease);
        }
        
        .wrap-inner:after {  
            content: "";
            display: block;
            width: 10px;
            left: -10px;
            top: 0px;
            background-color: #FFF;
            height: 100%;
            position: absolute;
        }
        
        &.sticky {
            .wrap-inner:before {
                opacity: 1;
            }
            .wrap-inner {
                background-color: rgba(255,255,255,1);
                @media only screen and (max-width: 992px){
                    margin: 0 10px;
                }
            }
        }

        .wrap.full {
            position: relative;
            max-width: 1080px;
            margin: 0 auto;
            @media only screen and (max-width: 992px){
                max-width: 100%;
            }
            .wrap-inner {
                max-width: 716px;
                @media only screen and (max-width: 992px){
                    max-width: 100%;
                }
            }
        }

        .article--footer_content & {
            .wrap.full {
                width: 100%;
                max-width: 1080px;
                .wrap-inner {
                    width: 100%;
                    max-width: 1080px;
                }
            }
            &.sticky {
                width: 100%;
                max-width: 1070px;
                .wrap-inner {
                    width: 100%;
                    max-width: 1070px;
                }
            }
        }

    }

}


// Featured Next Steps Test Styles
.featured-next-steps-test-group {
    ol {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
            list-style-type: none;
        }
    }
}