/* Styles to apply to the site when ?iframe=true is used */

.iframe-mode {

    #page {
        padding-bottom: 40px;
    }

    // General Hiding
    #utility-menu,
    #navigation,
    #smart-footer {
        visibility: hidden;
        display: none;
    }

    // Header
    #header {
        display: block;
        position: fixed;
        width: 100%;
        height: auto;
        padding: 10px 0;
        bottom: 0;
        left: 0;
        z-index: 60;
        background: $purple;
        color: $white;
        #logo {
            float: none;
            margin: 0 auto;
            text-align: center;
            text-decoration: none;
            border: 0;
            width: 100%;

            &:before {
                content: 'Powered by Mental Health America';
                display: block;
                margin: 0;
                width: 100%;
                text-align: center;
                color: $white;
                font-size: 14px;
                text-decoration: none;
            }
            img { display: none; }
        }
    }

    // Content
    &.page-template-page-screen-results .page-heading.plain h1,
    .type-screen .page-heading.plain h1 {
        text-align: center;
    }

}