/* Interior - General Styles */

// Hero
#hero {
    margin-bottom: 50px;

    .bubble {
        .inner {
            padding: 150px 60px;
        }
    }

    h1 {
        margin: 0 0 .15em 0;
        font-size: 4.5em;
        @media only screen and (max-width: 1120px){
            font-size: 6.5vw;
        }
    }

    .hero-buttons {
        .button {
            margin: 0 20px 20px 0;
            &:hover {
                background: $white;
                color: $darkTeal;
            }
        }
        .button.green:nth-child(even){
            background-color: $darkTeal;
            &:hover {
                background: $white;
                color: $darkTeal;
            }
        }
    }

    .text {
        max-width: 680px;
    }

}

// BReadcrumbs
#breadcrumbs {
    margin: 0 0 .5em 0;
    padding: 0;
    @include montserrat(600);
    color: $blue;
    font-size: 14px;
    line-height: 1.1em;
    a {
        color: $blue;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}


// Generic Interior Content
.page-content {

    // Pages
    .type-page & {
        h2 {
            margin: 0 0 .25em 0;
            font-size: 2em;
            line-height: 1.15em;
            color: $blue;
            font-weight: 600;            
        }
        h3 {
            margin: 0 0 .25em 0;
            font-size: 1.5em;
            line-height: 1.15em;
            color: $gray;
            font-weight: 600;            
        }
    }

    // Articles

}


// Page Headings
.page-heading {
    
    // Bar Style
    &.bar {
        background: $ceruleanLight;
        padding: 70px 0;
        margin: 0 0 40px 0;        
        h1 { 
            margin: 0; 
            font-size: 4.5em;
            color: $cerulean;
            max-width: 85%;
            @media only screen and (max-width: 1120px){
                font-size: 6.5vw;
            }
            @media only screen and (max-width: 767px){
                max-width: 100%;
            }
        }

        // Colors
        &.red {
            background: $pink;
            h1 { color: $red; }
        }
        
    }
    
}

.button-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .button {
        flex: 0 1 calc(50% - 10px);
        margin: 0 0 10px 0;
        text-align: center;
    }
}

ol.next-steps {
    margin: 0;
    padding: 0;
    column-count: 2;
    column-gap: 40px;
    li {
        list-style-type: none;
        margin: 0 0 1em 0;
        padding: 0;
        @include montserrat(600);
    }
}


// Screening List 

#screenings-list {
    display: flex;
    flex-wrap: wrap;
    margin: 50px 0 30px 0;

    .screen-item {
        flex: 0 1 calc(33.333% - 20px);
        margin: 0 10px 20px 10px;
    }

    .reveal-excerpt {
        background: none;
        color: $white;
        padding: 0;
        width: 40px;
        height: 40px;
        position: absolute;
        right: 9px;
        top: 7px;
        z-index: 20;
        font-size: 22px;
        line-height: 40px;
        @include radius(50%);
        @include transitions( background-color 200ms ease, color 200ms ease);
        &.revealed,
        &:hover {
            background: $mint;
            color: $teal;
        }
    }

    .button {
        @include transitions(all 200ms ease);
        &.revealed {
            background-color: $mint;
            color: $blueDark;
            @include radius(30px);
        }

        .excerpt {
            padding: 10px 10px 0 0;
            text-transform: none;
            color: $gray;
            font-weight: 400;
            line-height: 1.7em;
            .caps {
                display: block;
                padding-top: 10px;
                color: $blueDark;
            }
        }
    }

}


// Reading Paths
.bubble.path-container {
    .inner {
        padding-bottom: 40px;
    }
}
.path-list {
    margin: 30px 0 0 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    align-items: flex-end;
    //background: url('../images/path.png') 0px 30px repeat-y;
    //background-size: 100% auto;

    .path-item {
        flex: 0 1 25%;
        align-self: stretch;
        position: relative;
        z-index: 5;
        margin: 0;
        padding: 0;
        list-style-type: none;
        @media only screen and (max-width: 900px){
            flex: 0 1 33.333%;
        }
        @media only screen and (max-width: 679px){
            flex: 0 1 100%;
        }
        
        &:after {
            content: "";
            display: block;
            height: 4px;
            background: $brightBlue;
            width: 20px;
            position: absolute;
            z-index: 1;
            right: -10px;
            top: 0;
            bottom: 0;
            margin: auto 0;
            @media only screen and (max-width: 679px){
                display: none;
            }
        }
        .button {
            margin: 0 0 0 10px;
            height: 100%;
            position: relative;
            z-index: 2;
            line-height: 1.4em;
            @media only screen and (max-width: 679px){
                display: inline-block;
                margin: 0;
            }
            &.current {
                background: $blueDark;
            }
            &:hover {
                background: $blueDark;
            }
        }
    }
        
    li:last-of-type {
        &:after {
            display: none; // Can't target classes with last-of-type...
        }
    }

    .path-spacer {
        margin: 0;
        padding: 0;
        list-style-type: none;
        position: absolute;
        left: -999em;
        
        @media only screen and (min-width: 900px){
            &:nth-of-type(4n+8){
                flex: 0 1 85%;
                position: relative;
                left: auto;
                margin: 0 7.5%;
                height: 50px;
                background: url('../images/path.png') 0px 0px no-repeat;
                background-size: 100% 100%;
            }
            &:nth-of-type(3n+6){
                display: none;
            }
        }
        @media only screen and (min-width: 680px){
            &:nth-of-type(3n+6){
                flex: 0 1 80%;
                position: relative;
                left: auto;
                margin: 0 10%;
                height: 50px;
                background: url('../images/path.png') 0px 0px no-repeat;
                background-size: 100% 100%;
            }
        }
        @media only screen and (max-width: 679px){
            flex: 0 1 100%;
            position: relative;
            left: auto;
            height: 15px;
            &:after {
                content: "";
                display: block;
                position: absolute;
                top: -10px;
                left: 30px;
                height: calc(100% + 20px);
                width: 4px;
                background: $brightBlue;
            }
        }

        &:last-child {
            display: none !important;
        }
    }
}