/* Overall Layout  */

// Simple Flex Grid
.grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: center;
    justify-content: center;
    &.grid-2 .grid-item {
        flex: 0 1 50%;
    }
    &.grid-3 .grid-item {
        flex: 0 1 33.33%;
    }
    &.grid-4 .grid-item {
        flex: 0 1 25%;
    }
    &.grid-5 .grid-item {
        flex: 0 1 20%;
    }
}


/* Template */

.wrap { 

    &.narrow {
        margin: 0 auto; 
        width: 780px; 
        @media only screen and (max-width: 860px){
            margin: 0 20px;
            width: auto;
        }

        &.mobile-wide {
            @media only screen and (max-width: 860px){
                margin: 0;
                width: auto;
                .bubble.mobile-wide {
                    @include radius(0px);
                }
            }
        }
    }

    &.medium {
        margin: 0 auto; 
        width: 840px; 
        @media only screen and (max-width: 880px){
            margin: 0 20px;
            width: auto;
        }
        &.mobile-wide {
            @media only screen and (max-width: 880px){
                margin: 0;
                width: auto;
                .bubble.mobile-wide {
                    @include radius(0px);
                }
            }
        }
    }

    &.normal {
        margin: 0 auto; 
        width: 1080px; 
        @media only screen and (max-width: 1120px){
            margin: 0 20px;
            width: auto;
        }
        &.mobile-wide {
            @media only screen and (max-width: 1120px){
                margin: 0;
                width: auto;
                .bubble.mobile-wide {
                    @include radius(0px);
                }
            }
        }
        &.tablet-wide {
            @media only screen and (max-width: 767px){
                margin: 0;
                width: auto;
                .bubble.tablet-wide {
                    @include radius(0px);
                }
            }
        }

        .wrap.narrow {
            @media only screen and (max-width: 860px){
                margin: 0;
            }
        }
        .wrap.medium {
            @media only screen and (max-width: 880px){
                margin: 0;
            }
        }
    }
    
    &.wide {
        margin: 0 auto; 
        width: 1200px; 
        @media only screen and (max-width: 1240px){
            margin: 0 20px;
            width: auto;
        }
        &.mobile-wide {
            @media only screen and (max-width: 1240px){
                margin: 0;
                width: auto;
                .bubble.mobile-wide {
                    @include radius(0px);
                }
            }
        }
        &.tablet-wide {
            @media only screen and (max-width: 767px){
                margin: 0;
                width: auto;
                .bubble.tablet-wide {
                    @include radius(0px);
                }
            }
        }
    }

}


/* Site Header */

#header {
    padding: 30px 0 55px 0;
    background: $white;
    @media only screen and (max-width: 767px){
        padding: 20px 0 30px 0;
    }

    #logo {
        display: block;
        float: left;
        width: 192px;
        margin: 10px 0 0 0;
        @media only screen and (max-width: 767px){
            margin-top: 0;
            width: 120px;
        }
        img {
            width: 100%;
            height: auto;
        }
    }

}


/* Overall Content Layout */

#content {
    padding: 0 0 140px 0;
    font-size: 1.6em;
    line-height: 1.7em;
    background: $white;
    @media only screen and (max-width: 540px){
        font-size: 1.5em;
        line-height: 1.6em;
    }
}

