// Search
#search-header {
    display: inline-block;
    vertical-align: middle;
    position: relative;

    #search-toggle {
        display: inline-block;
        vertical-align: middle;
        width: 40px;
        height: 35px;
        padding: 0;
        margin-right: -10px;
        position: relative;
        text-align: center;
        background-color: rgba(255,255,255,0);
        //background: url('../images/magnifying-glass.svg') right center no-repeat;
        //background-size: 16px auto;
        /*
        &:hover {
            background: $blue;
            .icon {
                &:before {
                    border-color: $white;
                }
                &:after {
                    background-color: $white;
                }
            }
        }
        */

        .icon {
            display: block;
            position: relative;
            width: 15px;
            height: 19px;
            margin: 0 auto;
            top: -3px;
            &:before {
                content: "";
                display: block;
                position: absolute;
                width: 15px;
                height: 15px;
                right: 4px;
                bottom: 3px;
                border: 2px solid $black;
                @include radius(50%);
                transform-origin: top left;
                transform: rotate(0deg);
                @include transitions(background-color 200ms ease, border-color 200ms ease, height 200ms ease, transform 200ms ease, right 200ms ease, width 200ms ease, bottom 200ms ease);
                @media only screen and (max-width: 767px){
                    border-color: $blue;
                }
            }
            &:after {
                content: "";
                display: block;
                position: absolute;
                right: 0px;
                bottom: 0;
                width: 2px;
                height: 9px;
                background: $black;
                transform-origin: bottom right;
                transform: rotate(-45deg);
                @include transitions(background-color 200ms ease, height 200ms ease);
                @media only screen and (max-width: 767px){
                    border-color: $blue;
                }
            }
        }

    }

    .search-form {
        display: inline-block;
        width: 0px;
        overflow-x: hidden;
        top: 5px;
        position: relative;
        @include transitions(width 200ms ease);
        
        @media only screen and (max-width: 767px){
            display: block;
            position: absolute;
            width: 280px;
            overflow-x: auto;
            top: auto;
            bottom: -25px;
            right: 999em;
            z-index: 900;
            background: $blueLight;
            color: $blueDark;
            opacity: 0;
            border: 1px solid $blueDark;
            @include radius(30px 0px 30px 30px);
            @include transitions(opacity 200ms ease, bottom 200ms ease);
        }

        .search-submit {
            display: none;
        }
        
        label {
            display: inline;
            margin: 0;
            @media only screen and (max-width: 767px){
                display: block;
                padding: 20px;
            }
        }
        input {
            border: 0;
            padding: 5px 10px 3px 0;
            margin: 0 0 0 0;
            width: 100%;
            color: $blue;
            border-bottom: 2px solid $blue;
            @include montserrat(600);
            @media only screen and (max-width: 767px){
                background: none;
            }
        }
    }

    &.show {
        @media only screen and (min-width: 768px){
            #search-toggle {
                .icon {
                    &:before,
                    &:after {
                        border-color: $blue;
                    }
                }
            }
            .search-form {
                width: 200px;
            }
        }
        @media only screen and (max-width: 767px){
            .search-form {
                right: -45px;
                opacity: 1;
                bottom: -80px;
                right: -45px;
            }           

            #search-toggle .icon:before {
                height: 18px;
                width: 2px;
                right: 0;
                bottom: -5px;
                background-color: $black;
                transform: rotate(45deg);
                border: 0;
                border-color: $black;
                @include radius(0px);
            }
            #search-toggle .icon:after {
                height: 18px;
                background-color: $black;
            }
        }
    }

}

// User menu

.utility-menu {
    margin: -18px 0 0 0;
    float: right;
    text-align: right;
    font-size: 1.4em;
    line-height: normal;
    width: calc(100% - 217px);

    @media only screen and (max-width: 940px){
        padding-right: 15px;
    }
    @media only screen and (max-width: 767px){
        width: calc(100% - 150px);
        margin: 0;
        padding-right: 0;
    }

    .button {
        display: inline-block;
        vertical-align: middle;
        background: none;
        padding: 0;
        margin: 0 0 0 5px;
        color: $black;
        font-size: 1em;
        font-weight: 600;
        
        &#sign-in-toggle {
            height: 35px;
            line-height: 35px;
            padding: 0;
            @media only screen and (max-width: 767px){
                display: none;
            }
        }

        &:focus,
        &:hover {
            background: none;
        }

    }
    
}

// Main menu
#navigation {
    display: block;
    float: right;
    text-align: right;
    font-size: 1.4em;
    line-height: normal;
    @include montserrat(700);
    width: calc(100% - 217px);

    @media only screen and (max-width: 940px){
        width: auto;
    }
    @media only screen and (max-width: 767px){
        width: calc(100% - 150px);
    }

    ul {
        display: block;
        margin: 0;
        padding: 0;

        // First Level
        li {
            display: inline-block;
            margin: 0;
            padding: 0;
            list-style-type: none;
            &.wide {
                display: block;
            }
            a {
                display: block;
                position: relative;
                padding: 15px 13px;
                color: $blue;
                text-decoration: none;
            }

            &.footer-only {
                display: none;
            }
        }

        &.sf-menu > li {
            padding-bottom: 15px;
            & > a {
                &:after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    display: block;
                    width: 0%;
                    max-width: 150px;
                    height: 4px;
                    margin-top: 12px;
                    background: $orange; 
                    @include transitions(width 200ms ease);
                }
            }
            &.sfHover > a,
            & > a:hover {
                color: $blue;
                &:after {
                    width: 50%;
                }
            }
        }

        // Dropdowns Essential Styles
        &.sf-menu li {
            position: relative;
        }
        &.sf-menu ul {
            position: absolute;
            display: none;
            padding: 30px;
            top: 100%;
            left: 15px;
            z-index: 99;
            width: 280px;
            text-align: left;
            background: $white;
            box-shadow: 0px 0px 20px rgba(0,0,0,.15);
            @extend .round-tl;

            // Second Level Links
            li {
                font-weight: 400;
                &.bold {
                    font-weight: 700;
                }
                a {
                    padding: 10px 15px;
                    @include transitions(color 150ms ease);
                    &:hover {
                        color: $orange;
                    }
                }
            }
        }
        &.sf-menu > li {
            float: left;
        }
        &.sf-menu li:hover > ul,
        &.sf-menu li.sfHover > ul {
            display: block;
        }
        &.sf-menu ul ul {
            top: 0;
            left: 100%;
        }

    }
    
    #main-menu-buttons {
        margin: 0;
        padding: 0;
        float: right;
        text-align: right;

        .single-screen & {
            @media only screen and (max-width: 940px){
                display: none !important;
            }
        }
        
        @media only screen and (max-width: 940px){
            display: block;
            float: none;
            position: fixed;
            left: 0;
            bottom: 0;
            z-index: 500;
            width: 100%;
            text-align: center;
        }

        li {
            display: block;
            margin: 0;
            padding: 0;
            list-style-type: none;
        }
        a {
            background: $orange;
            @extend .button;
            @extend .round-tr;
            font-size: .85em;
            @include transitions(background-color 150ms ease);
            padding: 15px 25px;
            
            @media only screen and (max-width: 940px){
                width: 100%;
                padding: 20px 10px;
                @include radius(0px);
            }
            &:hover {
                background: $teal;
            }
        }
    }

    @media only screen and (max-width: 767px){ 
        .menu-main-menu-container {
            display: none;
        }
    }
}

// Mobile Menu Button

button.menu-toggle {
    &,
    #utility-menu & {
        display: none; // Hide Desktop

        @media only screen and (max-width: 767px){ 
            display: block !important; // Show only on mobile
        }

        float: right;
        position: relative;
        margin: -1px 0 0 10px;
        padding: 0;
        width: 35px;
        height: 35px;
        background: none;
        border: 0;
        outline: none;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        @include transitions(all 200ms ease);

        .text {
            position: absolute;
            left: -999em;
        }

        span {
            display: block;
            position: absolute;
            height: 2px;
            width: 50%;
            background: $orange;
            opacity: 1;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
            @include transitions(all 200ms ease);
            &:nth-child(even) {
                left: 50%;
            }
            
            &:nth-child(odd) {
                left:0px;
            }
            
            &:nth-child(1), 
            &:nth-child(2) {
                top: 6px;
            }
            &:nth-child(2) {
                width: 5%;
            }
            
            &:nth-child(3), 
            &:nth-child(4) {
                top: 15px;
            }
            
            &:nth-child(5),
            &:nth-child(6) {
                top: 25px;
            }  
            
            .mobile-menu-active & {
                margin-top: 5px;
                &:nth-child(1),
                &:nth-child(6) {
                    -webkit-transform: rotate(45deg);
                    -moz-transform: rotate(45deg);
                    -o-transform: rotate(45deg);
                    transform: rotate(45deg);
                }
                
                &:nth-child(2),
                &:nth-child(5) {
                    -webkit-transform: rotate(-45deg);
                    -moz-transform: rotate(-45deg);
                    -o-transform: rotate(-45deg);
                    transform: rotate(-45deg);
                }
                
                &:nth-child(1) {
                    left: 5px;
                    top: 6px;
                }
                
                &:nth-child(2) {
                    left: calc(50% - 5px);
                    top: 6px;
                    width: 50%;
                }
                
                &:nth-child(3) {
                    left: -10px;
                    top: 9px;
                    opacity: 0;
                }
                
                &:nth-child(4) {
                    left: 30px;
                    top: 9px;
                    opacity: 0;
                }
                
                &:nth-child(5) {
                    left: 5px;
                    top: 14px;
                }
                
                &:nth-child(6) {
                    left: calc(50% - 5px);
                    top: 14px;
                }
            }
            
        }

        &:hover {
            span:nth-child(2) {
                width: 50%;
            }
        }
    }
}


// Mobile menu container that is scrollable

#mobile-menu-container {
    display: none; // Hide by default
    /* Fixed elements can't scroll in some browsers/iOS */
    position: fixed;
    top: 80px;
    left: -100%;
    width: 100%;
    height: calc(100% - 80px);
    z-index: 490;
    background-color: $white; 
    font-size: 1.6em;
    line-height: 1.4em;
    @include transitions(all 250ms ease);

    @media only screen and (max-width: 767px) {
        display: block !important; // Show only on mobile
        opacity: 0;
        .mobile-menu-active & {
            left: 0;
            opacity: 1;
        }
    }

    .admin-bar & {
        top: 126px;
    }

    .inner {
        /* Scrolling should be done in a sub-container to help iOS not wreck itself */
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        /* The main point: */
        overflow-y: scroll;
        /* Optional but highly reccomended: enables momentum scrolling on iOS */
        -webkit-overflow-scrolling: touch;

        ul.menu {
            display: block;
            margin: 0 auto;
            padding: 30px 0 0 0;
            max-width: 280px;
            @include montserrat();

            li {
                display: block;
                margin: 10px 0;
                padding: 0;
                list-style-type: none;

                // Headings
                &.heading {
                    margin: 0;
                    & > a {
                        font-weight: 700;
                        width: 100%;
                        color: $blue;
                        cursor: default;
                        @extend .bottom-border;
                        &:hover {
                            text-decoration: none;
                            color: $blue;
                        }
                    }
                }

                // Exclusions
                &.footer-only {
                    display: none;
                }

                // Buttons
                &.button {
                    &.red {
                        a {
                            color: $white;
                            background: $coral;
                            @extend .round;  
                            @include transitions(background-color 150ms ease);
                            &:hover {
                                background-color: $teal;
                                text-decoration: none;
                                color: $white;
                            } 
                        }
                    }
                }

                // First Level
                a {                  
                    display: inline-block;  
                    text-decoration: none;
                    font-weight: 700;
                    @include transitions(color 150ms ease);
                    &:hover {
                        color: $orange;
                        text-decoration: underline;
                    }
                }

                // Second Level
                ul { 
                    margin: 15px 0 30px 20px;
                    display: block;
                    li {
                        display: block;
                        width: calc(100% - 15px);
                        margin: 0 0 10px 0;
                        a {
                            font-weight: 600;
                        }
                    }
                }

            }
        }

        ul.last {
            padding-bottom: 80px;
        }
        ul.secondary {
            padding-top: 0;
        }

    }
}